
body {
    background-color: rgba(231, 225, 225, 0.2);
    font: sans-serif;
}

#navbar {
float: left;
}
#navbar{
width:25%;
height: 100%;
float: left;
background:#ccc; 
border-left:1px solid black;
}
li{
   border-bottom:1px solid black;
}
li,a{
    text-decoration:none;
    list-style: none; 

}
li a:hover{
opacity: 0.5;
}
#navbar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;

}
li #links{
    margin-top: 100em;
}
#ul{
    display: flex;
    flex-direction:row;
    align-items: flex-start; 
    margin-left:0%; 

}
ul,li,a{
     display:block;
     height: 35%;
}
 
#header-img {
    height: 60px;
    margin-left: 40px;
}

.nav-link {
    margin: 20px;

}


.nav-link a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
}

.nav-link a:hover {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: underline;
}


main {
    margin-top: 100px;
}
#contents{
    width:74%;
    margin-top: 0;
    margin-left: 0.5em;
    float: right;   
    line-height: 2em;
    font-size: 1.5em;
    padding-left: 25em;
}

.section-1 {
    height: 30vh;
    margin: 0 auto;
    padding: 30px;
}

.section-1 h1 {
    margin: 40px;
    font-size: 3rem;
    text-align: center;
    font: Helvetica, sans-serif;
}

#form {
    text-align: center;
    margin: 20px;
}
#email {
    padding: 5px;
    font-family: verdena;
    font-size: 17px;
}

#submit {
    padding: 6px;
    background-color: black;
    color: white;
    font-size: 17px;
    border: 1px solid black;
    font-weight: 600;
    margin-left: 20px;
    transition: all .3s;
    border-radius: 2px;
}

#submit:hover, #submit:focus {
    background-color: white;
    color: black;
    transition: all .3s;
}

@media all and (min-width: 480px) {
  body{
    background:white;
    overflow: auto;
  }
}
 
